//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

@black: #000;

footer {
  background: @navbar-default-bg;
  padding: 20px;
}

footer > p {
  margin: 0 0 0 0;
}
